$color-white: #FFFFFF;
$color-text: #000000;
$color-header: #000000cc;
$color-header-focus: #FFFFFF33;
$color-primary: #FF0000;
$color-transparent: #00000040;
$color-primary-border: #FF00004D;
$color-button: #FFFFFF29;
$color-paragraphs: #6A6A6A;
$color-content: #28272C;
$color-paragraphs-light: #B2B2B2;
$color-input-border: #D1D1D1;