footer {
  background-color: $color-content;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    align-self: flex-start;
    .footer_logo {
      margin: 40px 0 30px 0;
      cursor: pointer;

      display: flex;
      justify-content: center;

      h2 {
        font: bold 25px/34px "Nunito Sans", sans-serif;
        color: $color-white;

        span {
          color: $color-primary;
          margin-right: 8px;
        }
      }
    }
  }

  .section {
    @include tablet {
      align-self: flex-start;
    }

    &__links {
      margin-bottom: 20px;
      display: flex;
      height: 160px;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      @include tablet {
        width: 300px;
        align-items: flex-start;
        align-content: normal;
      }

      a {
        font: bold 14px/19px "Nunito Sans", sans-serif;
        color: $color-white;
        margin-bottom: 15px;
      }

      a:hover {
        cursor: pointer;
        color: $color-primary;
        text-shadow: 0 3px 6px $color-primary-border;
        transform: scale(1.02);
      }
    }

    p {
      font: 300 12px/16px "Nunito Sans", sans-serif;
      color: $color-paragraphs-light;
      position: absolute;
      bottom: 0;
      right: 10px;
    }
  }

  .footer_logo::before {
    content: "";
    width: 35px;
    height: 35px;
    margin-right: 8px;
    background: url(../../img/Icon.svg) no-repeat center/contain;
  }
}
