main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include desktop{
    width: 1088px;
  }
  h2{
    margin: 82px 0 40px 0;
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Nunito Sans',sans-serif;
  }
  h2::before,
  h2::after{
    content: "";
    position: absolute;
    width: 75%;
    height: 5px;
    background-color: #FF0000;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%)
  }
  h2::before{
    left: -100%;
  }
  h2::after{
    right: -100%;
  }
  .blog{

    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet{
      flex-direction: row;
    }

    .blog__option{
      margin-bottom: 25px;
      border-bottom: 1px dashed $color-transparent;

      display: flex;
      flex-direction: column;
      align-items: center;

      @include tablet{
        padding: 8px;
        border: none;
      }
      @include desktop{
        align-items: flex-start;
      }
      img{
        @include tablet{
          width: 100%;
        }
      }
      h3{
        margin: 25px 0 15px 0;
        font: 19px/26px "Nunito Sans",sans-serif;
        color: $color-paragraphs;
      }
      p{
        text-align: center;
        font: 300 14px/19px "Open Sans",sans-serif;
        color: $color-paragraphs;
        @include desktop{
          text-align: left;
          width: 260px;
        }
      }
      button{
        margin: 15px 0;
        border: none;
        color: $color-white;
        font: normal normal bold 14px/19px "Nunito Sans",sans-serif;
        padding: 10px 30px;
        background-color: $color-primary;
        box-shadow: 0 3px 6px $color-primary-border;
        border-radius: 40px;
        transition: transform .4s cubic-bezier(1, -0.72, 0, 1.49);
      }
      button:hover{
        cursor:pointer;
        transform: scale(1.1);
      }
    }
    .blog__option:last-of-type{
      border-bottom: none;
    }
  }
}