.service{
  background-color: $color-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    margin: 82px 0 40px 0;
    color: $color-white;
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Nunito Sans',sans-serif;
  }
  h2::before,
  h2::after{
    content: "";
    position: absolute;
    width: 40%;
    height: 5px;
    background-color: #FF0000;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%)
  }
  h2::before{
    left: -50%;
  }
  h2::after{
    right: -50%;
  }
  &__option{
    &__segment{
      margin-bottom: 25px;
      border-bottom: 1px dashed $color-white;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3{
        font: 19px/26px "Nunito Sans",sans-serif;
        color: $color-white;
        margin: 15px 0;
      }
      p{
        font: 14px/19px "Open Sans",sans-serif;
        color: $color-paragraphs-light;
        margin-bottom: 15px;
        text-align: center;
      }
      button{
        font: bold 14px/19px "Nunito Sans",sans-serif;
        border: none;
        margin-bottom: 15px;
        color: $color-white;
        padding: 10px 30px;
        background-color: $color-primary;
        box-shadow: 0 3px 6px $color-primary-border;
        border-radius: 40px;
        transition: transform .4s cubic-bezier(1, -0.72, 0, 1.49);
      }
      button:hover{
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    &__segment:last-of-type{
      border-bottom: none;
    }
  }
}